version: 2
jobs:
  test:
    parallelism: 2
    docker:
      - image: circleci/node
    steps:
      - checkout
      # These two tests should run in parallel. Make it so!
      - run:
          Name: split tests
          command: |
            ls
            TEST_FILES=$(circleci tests glob "src/test_goodbye.sh" "src/test_hello.sh" | circleci tests split --split-by=timings)
            bash $TEST_FILES
workflows:
  version: 2
  test:
    jobs:
      - test
